*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


    .container{
        width: 100%;
        min-height: 100vh;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;


    }


    .navbar{
        width:100%;
        display: flex;
        align-items: center;


    }

    .myphulogo{
        width: 100px;
        cursor: pointer;
        top: 520px;
        margin: 30px 0;
    }

    .menu-icon{
        width: 25px;
        cursor: pointer;
        display: none;

    }

    nav{
        flex: 1;
        text-align: right;



    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;

    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        transition: 0.5s;  


    }

    nav ul li a:hover{
        color: #dc143c;
        font-size: 20px;
        text-decoration: underline;
        transition: 0.5s;
    }

    .header{
    
        width: 100%;
        padding-bottom: 100px;
        background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.8)),url(images/headerimage.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .maintext{
        color: white;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .maintext h1{
        font-size: 80px;
    }
    .maintext h6{
        font-size: 50px;
        padding-bottom: 60px;
    }
    .booknowbtn{
        margin-top: 40px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #dc143c;
        padding: 12px 34px;
        font-size: 20px;
        background: #dc143c;
        cursor: pointer;
        border-radius: 3px;
        transition: 0.3s;
    }


    .booknowbtn:hover{
    
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #dc143c;
        padding: 12px 34px;
        font-size: 22px;
        background: #dc143c;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 3px;

    }


    /*END OF MENU CODE AND HEADER IMAGE & TEXT*/


    



    /* OUR SERVICES MOBILE*/

    .lenses-col{
        flex-basis: 22%;
        color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        padding-bottom: 0px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        background: #0c1012;
        transition: 0.5s;
    
    }

    .lenses-col:hover{
   
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
        transition: 0.5s;
    }

    .lenses-col img{
        width: 100%;
        border-radius: 10px;
        top: 0;
       left: 0;

    }


    .lenses-col h5{
        font-size: 27px;
        font-style: bold;
        font-weight: 800;
        text-align: center;
        margin: 10px 0;
    }

    .lenses h4{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        font-size: 50px;
        color: white;
        line-height: 60px;

    }

    .lenses{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 90px;
        font-size: 65px;
        color: white;
    }

    .lenses h1{
        font-size: 100px;
        padding-bottom: 50px;
    }

    .lenses-col p{
        color: white;
        font-size: 22px;
    }


    .lensesrow{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction : row; 
        flex-flow : wrap;
 
    }


    .lensesBG{
        width: 100%;
        background-size: cover;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 100px;
        font-size: 60px;
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .selectbtn{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #1167b1;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 20px;
        background: #1167b1;
        cursor: pointer;
        transition: 0.5s;
        position: relative;

    }


    .selectbtn:hover{
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #dc143c;
        padding: 12px 34px;
        font-size: 20px;
        border-radius: 5px;
        background: #dc143c;
        cursor: pointer;
        transition: 0.5s;
    }



    .textonwhatsappbtn{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 30px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;

    }


    .textonwhatsappbtn:hover{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        padding: 12px 34px;
        font-size: 32px;
        border-radius: 5px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;
    }






    #backtotopbtn {
      display: ; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #dc143c; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }

    #backtotopbtn:hover {
        background-color: #dc143c; /* Add a dark-grey background on hover */
    }






    /*FOOTER*/


    footer{
        position: relative;
        bottom: 0;
    }

    .footer-distributed{
        background-color: #0c1012;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 0px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left{
        width: 30%;
    }

    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Poppins';
        margin: 0;
    }

    /* The company logo */

    .footer-distributed .footer-left img{
        width: 30%;
    }

    .footer-distributed h3 span{
        color:  #e0ac1c;
    }

    /* Footer links */

    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }

    .footer-distributed .footer-links:hover{
        color:  #ffffff;
        margin: 20px 0 12px;
        text-decoration: underline;
    }

    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }

    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        text-align: center;
    }

    /* Footer Center */

    .footer-distributed .footer-center{
        width: 35%;
    }


    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }

    .footer-distributed .footer-center i.fa fa-envelope-open-o{
        font-size: 17px;
        line-height: 38px;
    }

    .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:  10px;
    line-height: 28px;
    font-size: 20px;
    }

    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2px;
    }

    .footer-distributed .footer-center p a{
        color:  #B72659;
        text-decoration: none;
    }


/* Footer Right */


    .newsletter {
        background-image: linear-gradient(to right top, #86004d, #7e055b, #721168, #611c74, #49267f, #3a358b, #274294, #004e9b, #0062a1, #00729c, #007f8f, #008a81);
        margin: 0 auto;
        text-align: center;
        max-width: 330px;
        padding: 50px 30px;
        border-radius: 5px;
        color: white;
    }

    .newsletter p{
        font-size: 16px;
        line-height: 24px;
        color: rgba(255,255,255,0.8);
        margin-bottom: 30px;
    }

    .newsletter hr{
        width: 70px;
        height: 3px;
        margin: 30px auto;
        border:0;
        background: rgba(255,255,255,0.5);
    }

    .newsletter input{
        border-radius: 3px;
        background-color: rgba(0,0,0,0.4);
        width: 300px;
        height: 40px;
        margin-bottom: 36px;
        border:0;
        padding: 0 20px;
        color: rgba(255,255,255,0.8);
        outline: none;
        box-sizing: border-box;
        font-size: 16px;
    }
    ::placeholder{
        color: lightgrey;
    }

    .newsletter button{
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 3px;
        height: 50px;
        background-color: transparent;
        color: #fff;
        padding: 0px 28px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.5s;
    }


    .newsletter button:hover{
        background-color: #064ACB;
        border-color: #064ACB;
        font-size: 17px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
        transition: 0.5s;
    }




    .footer-distributed .footer-right{
        width: 30%;
    }

    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .footer-distributed .footer-icons{
     margin-top: 25px;
    }

    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;

        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;

        margin-right: 3px;
        margin-bottom: 5px;
    }





/*---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/

/*MEDIA QUERY FOR HEADER MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 480px){
    

    .header{
    
    width: 100%;
    height: 300PX;
    padding-bottom: 150PX;
     background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.8)),url(images/headerimage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    }


    .container{
    width: 100%;
    height: 10px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    }


    nav ul{
        width: 50%;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav  ul li{
        display: block;
        margin-top: 13px;
        margin-bottom: 13px;
       

    }

    nav ul li a{
        color: white;
        text-decoration: none;
       font-size: 15px;
    }


    nav ul li a:hover{
    color: #dc143c;
    font-size: 15px;
    text-decoration: underline;
    transition: 0.5s;
    }   

    
    .menu-icon{
        display: block;
        margin: auto;
              
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
        width: 50%;
        height: 55%;
        margin-right: 7%;
        
    }

    .myphulogo{
    width: 50px;
    cursor: pointer;
    
    }

    .maintext{
    width: 80%;
    height: 30px;
    color:white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    }
    .maintext h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    }
    .maintext h6{
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    }
    
    .booknowbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #dc143c;
    padding: 12px 20px;
    font-size: 13px;
    background: #dc143c;
    cursor: pointer;
    transition: 0.5s;

    }

    .booknowbtn:hover{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #dc143c;
    padding: 12px 34px;
    font-size: 13px;
    background: #dc143c;
    cursor: pointer;
    transition: 0.5s;
    }
}




/* OUR SERVICES*/

/* MEDIA QUERY FOR OUR SERVICES MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 480px){

    .lenses-col{
        flex-basis: 100%;
        color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        background: #0c1012;
        box-sizing: border-box;
        transition: 0s;
    
    }

    .lenses-col:hover{
   
        box-shadow: none;
        transition: 0s;
    }

  


    .lenses{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
        color: white;
    }



    .lenses-col p{
        color: white;
        padding-bottom: 5px;
        font-size: 15px;
    }

    .lenses-col h5{
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-style: bold;
        font-weight: 800;
        text-align: center;
        margin: 0px 0;
    }


    .lenses h1{
        font-size: 40px;
        padding-bottom: 10px;
    }

    .lenses h4{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        color: white;
        line-height: 30px;

    }


    .lensesrow{
        padding-top: 0px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction : column; 
        flex-flow : wrap;
     
 
        }

    .lensesBG{
        width: 100%;
        background-size: cover;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
        font-size: 60px;
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .selectbtn{
        display: inline-block;
        text-decoration: underline;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0;
        font-size: 12px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
    }


    .selectbtn:hover{
        display: inline-block;
        text-decoration: underline;
        color: #dc143c;
        border: none;
        padding: 0;
        font-size: 12px;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
    }



    .textonwhatsappbtn{
        margin: auto;
        margin-top: 20px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 17px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;

    }


    
}




/* MEDIA FOOTER MOBILE */

@media only screen and (min-width: 320px) and (max-width: 480px)   {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

.footer-distributed .footer-left h3{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
    }
   
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
    font-size: 18px;
    padding-top: 15px;
}


  /* Footer Right */


.newsletter {
    background-image: linear-gradient(to right top, #86004d, #7e055b, #721168, #611c74, #49267f, #3a358b, #274294, #004e9b, #0062a1, #00729c, #007f8f, #008a81);
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 30px 10px;
    border-radius: 5px;
    color: white;
  
}

.newsletter p{
    font-size: 14px;
    line-height: 24px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0px;
}

.newsletter hr{
    width: 100px;
    height: 3px;
    margin: 30px auto;
    border:0;
    background: rgba(255,255,255,0.5);
}

.newsletter input{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    width: 190px;
    height: 40px;
    margin-bottom: 36px;
    border:0;
    padding: 0 20px;
    color: rgba(255,255,255,0.8);
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
}
::placeholder{
    color: lightgrey;
}

.newsletter button{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}


.newsletter button:hover{
    background-color: #064ACB;
    border-color: #064ACB;
    font-size: 15px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    text-align: center;

}

.footer-distributed{
    background-color: #0c1012;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}
.footer-distributed h3{
    color:  #ffffff;
    font: normal 30px 'Poppins';
    margin: 0;
}

footer { position: static; }

}



@media only screen and (min-width: 320px) and (max-width: 480px) {

    #backtotopbtn {
      display: ; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 10px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #dc143c; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 8px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 12px; /* Increase font size */
    }

    #backtotopbtn:hover {
        background-color: #dc143c; /* Add a dark-grey background on hover */
    }

}




/*---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------*/


/* MEDIA QUERY FOR HEADER IPADS. TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 768px){
    

    .header{
    
    width: 100%;
    height: 300PX;
    padding-bottom: 250PX;
     background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.8)),url(images/headerimage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    }


    .container{
    width: 100%;
    height: 10px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    }


    nav ul{
        width: 50%;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav  ul li{
        display: block;
        margin-top: 13px;
        margin-bottom: 13px;
       

    }

    nav ul li a{
        color: white;
        text-decoration: none;
       font-size: 18px;
       line-height: 24px;
    }


    nav ul li a:hover{
    color: #dc143c;
    font-size: 17px;
    text-decoration: underline;
   
    }   

    
    .menu-icon{
        display: block;
        margin: auto;
        width: 35px;
              
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
        width: 35%;
        height: 120%;
        margin-right: 7%;
        margin-top: 10px;
        
    }

    .myphulogo{
    width: 60px;
    cursor: pointer;
    
    }

    .maintext{
    width: 80%;
    height: 30px;
    color:white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    }
    .maintext h1 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    }
    .maintext h6{
    font-size: 27px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    }
    
    .booknowbtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #dc143c;
    padding: 12px 20px;
    font-size: 20px;
    background: #dc143c;
    cursor: pointer;
    transition: 0.5s;

    }

    .booknowbtn:hover{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #dc143c;
    padding: 12px 34px;
    font-size: 20px;
    background: #dc143c;
    cursor: pointer;
    transition: 0.5s;
    }
}




/* MEDIA QUERY FOR OUR SERVICES IPADS. TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 768px){

    .lenses-col{
        flex-basis: 100%;
        color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        background: #0c1012;
        box-sizing: border-box;
        transition: 0s;
    
    }

    .lenses-col:hover{
   
        box-shadow: none;
        transition: 0s;
    }

    .lenses-col img{
        display: block;
        width: 100%;
        margin: auto;
        border-radius: 10px;
        top: 0;
        left: 0;
    }


    .lenses{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
        color: white;
    }



    .lenses-col p{
        color: white;
        padding-bottom: 5px;
        font-size: 24px;
    }

    .lenses-col h5{
        font-size: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-style: bold;
        font-weight: 800;
        text-align: center;
        margin: 0px 0;
    }


    .lenses h1{
        font-size: 60px;
        padding-bottom: 10px;
    }

    .lenses h4{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        font-size: 30px;
        color: white;
        line-height: 40px;

    }


    .lensesrow{
        padding-top: 0px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction : column; 
        flex-flow : wrap;
     
 
        }

    .lensesBG{
        width: 100%;
        background-size: cover;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
        font-size: 60px;
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .selectbtn{
        display: inline-block;
        text-decoration: underline;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0;
        font-size: 20px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .selectbtn:hover{
        display: inline-block;
        text-decoration: underline;
        color: #dc143c;
        border: none;
        padding: 0;
        font-size: 20px;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
        padding-top: 10px;
    }



    .textonwhatsappbtn{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 25px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;

    }


    .textonwhatsappbtn:hover{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        padding: 12px 34px;
        font-size: 27px;
        border-radius: 5px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;
    }




}







/* MEDIA FOOTER IPAD, TABLET */

@media only screen and (min-width: 481px) and (max-width: 768px){

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }


    .footer-distributed .footer-left h3{
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
    }
   
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
    font-size: 18px;
    padding-top: 15px;
}


  /* Footer Right */


.newsletter {
    background-image: linear-gradient(to right top, #86004d, #7e055b, #721168, #611c74, #49267f, #3a358b, #274294, #004e9b, #0062a1, #00729c, #007f8f, #008a81);
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 30px 10px;
    border-radius: 5px;
    color: white;
  
}

.newsletter p{
    font-size: 14px;
    line-height: 24px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0px;
}

.newsletter hr{
    width: 100px;
    height: 3px;
    margin: 30px auto;
    border:0;
    background: rgba(255,255,255,0.5);
}

.newsletter input{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    width: 190px;
    height: 40px;
    margin-bottom: 36px;
    border:0;
    padding: 0 20px;
    color: rgba(255,255,255,0.8);
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
}
::placeholder{
    color: lightgrey;
}

.newsletter button{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}


.newsletter button:hover{
    background-color: #064ACB;
    border-color: #064ACB;
    font-size: 15px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    text-align: center;

}

.footer-distributed{
    background-color: #0c1012;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}
.footer-distributed h3{
    color:  #ffffff;
    font: normal 30px 'Poppins';
    margin: 0;
}

footer { position: static; }

}



@media only screen and (min-width: 481px) and (max-width: 768px){

    #backtotopbtn {
      display: ; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 10px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #dc143c; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 8px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }

    #backtotopbtn:hover {
        background-color: #dc143c; /* Add a dark-grey background on hover */
    }

}







/*--------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------*/



/* MEDIA QUERY FOR HEADER SMALL SCERANS, LAPTOPS*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {   

   .container{
        width: 100%;
        height: 100vh;
        padding-left: 8%;
        padding-right: 8%;
        box-sizing: border-box;
        overflow: hidden;


    }


    .navbar{
        width:100%;
        display: flex;
        align-items: center;


    }

    .myphulogo{
        width: 70px;
        cursor: pointer;
    
    }


    .menu-icon{
        width: 25px;
        cursor: pointer;
        display: none;

    }

    nav{
        flex: 1;
        text-align: right;



    }

    nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 10px;

    }

    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: 0.5s;  


    }

    nav ul li a:hover{
        color: #dc143c;
        font-size: 16px;
        text-decoration: underline;
        transition: 0.5s;
    }

    .header{
    
        width: 100%;
        padding-bottom: 100px;
        background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.8)),url(images/headerimage.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .maintext{
        color: white;
        width: 80%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .maintext h1{
        font-size: 35px;
        color: white;
        padding-bottom: 10px;
    }

    .maintext h6{
    font-size: 25px;
    padding-bottom: 0px;
    }

    .booknowbtn{
        margin-top: 40px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #dc143c;
        padding: 12px 34px;
        font-size: 20px;
        background: #dc143c;
        cursor: pointer;
        border-radius: 3px;
    }


.booknowbtn:hover{
    
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #dc143c;
    padding: 12px 34px;
    font-size: 20px;
    background: #dc143c;
    cursor: pointer;
    border-radius: 3px;

    }

}



/* OUR SERVICES*/

/* MEDIA QUERY FOR OUR SERVICES SMALL SCERANS, LAPTOPS*/
@media only screen and (min-width: 769px) and (max-width: 1024px){

    .lenses-col{
        flex-basis:46%;
        color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        background: #0c1012;
        box-sizing: border-box;
        transition: 0s;
    
    }

    .lenses-col:hover{
   
        box-shadow: none;
        transition: 0s;
    }

   


    .lenses{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 0px;
        font-size: 22px;
        color: white;
    }



    .lenses-col p{
        color: white;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .lenses-col h5{
        font-size: 27px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-style: bold;
        font-weight: 800;
        text-align: center;
        margin: 0px 0;
    }


    .lenses h1{
        font-size: 60px;
        padding-bottom: 40px;
        padding-top: 30px;
    }

    .lenses h4{
        width: 80%;
        background-color: none;
        margin: auto;
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
        color: white;
        line-height: 40px;

    }


    .lensesrow{
        padding-top: 0px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        flex-direction : row; 
        flex-flow : wrap;
     
 
        }

    .lensesBG{
        width: 100%;
        background-size: cover;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
        font-size: 60px;
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .selectbtn{
        display: inline-block;
        text-decoration: underline;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0;
        font-size: 20px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .selectbtn:hover{
        display: inline-block;
        text-decoration: underline;
        color: #dc143c;
        border: none;
        padding: 0;
        font-size: 20px;
        border-radius: 5px;
        background: none;
        cursor: pointer;
        transition: 0.5s;
        padding-bottom: 10px;
        padding-top: 10px;
    }



    
    .textonwhatsappbtn{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        border-radius: 5px;
        padding: 12px 34px;
        font-size: 30px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;

    }


    .textonwhatsappbtn:hover{
        margin: auto;
        margin-top: 50px;
        display: inline-block;
        text-decoration: none;
        color: white;
        border: 1px solid #228B22;
        padding: 12px 34px;
        font-size: 32px;
        border-radius: 5px;
        background: #228B22;
        cursor: pointer;
        transition: 0.5s;
    }
     

}





/* MEDIA QUERY FOR BECOMEA PARTNER SMALL SCERANS, LAPTOPS*/
@media only screen and (min-width: 769px) and (max-width: 1024px){

footer{
    position: relative;
    bottom: 0;
}

.footer-distributed{
    background-color: #0c1012;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 25%;
}

.footer-distributed .footer-left h3{
    color:  #ffffff;
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif
}

/* The company logo */

.footer-distributed .footer-left img{
    width: 50%;
}

.footer-distributed h3 span{
    color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links:hover{
    color:  #ffffff;
    margin: 20px 0 12px;
    text-decoration: underline;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 27%;

}


.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa fa-envelope-open-o{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:  10px;
    line-height: 28px;
    font-size: 20px;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2px;
}

.footer-distributed .footer-center p a{
    color:  #B72659;
    text-decoration: none;
}


/* Footer Right */


.newsletter {
    background-image: linear-gradient(to right top, #86004d, #7e055b, #721168, #611c74, #49267f, #3a358b, #274294, #004e9b, #0062a1, #00729c, #007f8f, #008a81);
    
    text-align: center;
    width: 200px;
    padding: 40px 20px;
    border-radius: 5px;
    color: white;
    margin-left: 80px;
    margin-bottom: 30px;
}

.newsletter p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 30px;
}

.newsletter hr{
    width: 70px;
    height: 3px;
    margin: 30px auto;
    border:0;
    background: rgba(255,255,255,0.5);
}

.newsletter input{
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    width: 200px;
    height: 40px;
    margin-bottom: 36px;
    border:0;
    padding: 0px 10px;
    color: rgba(255,255,255,0.8);
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
}
::placeholder{
    color: lightgrey;
}

.newsletter button{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}


.newsletter button:hover{
    background-color: #064ACB;
    border-color: #064ACB;
    font-size: 17px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition: 0.5s;
}




.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}




@media only screen and (min-width: 769px) and (max-width: 1024px){

    #backtotopbtn {
      display: ; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: #dc143c; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 8px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
    }

    #backtotopbtn:hover {
        background-color: #dc143c; /* Add a dark-grey background on hover */
    }

}



